body {
    --sidenavWidth: 360px;
    --green_lighten-3: #a5d6a7;
    --green_lighten-1: #66bb6a;
}

/* sidenav */

.side-nav {
    width: var(--sidenavWidth);
}

.side-nav .divider {
    margin-top: 32px;
}

header, main, footer {
    padding-left: var(--sidenavWidth);
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

li#avatar-container {
    text-align: center;
    line-height: 0%;
    background: linear-gradient(to bottom, var(--green_lighten-3) 1%, transparent 100%);
}

li#avatar-container > * {
    display: inline-block;
    font-size: 200px;
    width: 200px;
    color: grey;
    
}

.side-heading {
    margin-left: 20px;
}

/* form colors */

/* label focus color */
body .input-field input[type="text"]:focus + label,
body .input-field input[type="password"]:focus + label {
    color: var(--green_lighten-1) !important;
}
/* label underline focus color */
body .input-field input[type="text"]:focus,
body .input-field input[type="password"]:focus {
    border-bottom: 1px solid var(--green_lighten-1) !important;
    box-shadow: 0 1px 0 0 var(--green_lighten-1) !important;
}

.btn {
    background-color: var(--green_lighten-1);
}
.btn:hover,
.btn-large:hover,
.side-nav.fixed li > a.btn:hover {
    background-color: #43a047;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}
  /* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}


/* push footer to bottom */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

i.delete-story {
    float: right;
    color: lightgray;
    transition: .2s;
}

i.delete-story:hover {
    float: right;
    color: darkred;
    cursor: pointer;
}

.card-content .date {
    font-size: 85%;
    color: grey;
    font-style: italic;
    font-weight: lighter;
}