version: '3.2'
services:
  database:
    container_name: talk-db
    image: mysql/mysql-server:latest
    env_file: database/variables.env
    expose:
      - "3306" # port available to other docker containers but not host network
    volumes:
      - type: bind
        source: ./database/sql/
        target: /var/lib/mysql
      - type: bind
        source: ./database/scripts/
        target: /docker-entrypoint-initdb.d/
      - /etc/localtime:/etc/localtime:ro

  express:
    depends_on:
      - "database"
    command: ["./wait-for-it.sh", "talk-db:3306", "--", "npm", "start"]
    container_name: talk-js
    env_file: database/variables.env
    build: ./server
    volumes:
      - ./server/assets:/usr/src/app/assets
      - ./server/home:/usr/src/app/home
      - ./server/vendor:/usr/src/app/vendor
      - ./server/server.js:/usr/src/app/server.js
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "${PORT}:8080"
    tty: true   # COLORS
