# Force push to overwrite history, hiding the files specified below.
# It's foolish to push passwords and database structure information for serious projects.
# It doesn't really matter for this case. This project's purpose is to be hacked.

sql
